
<div class="card mb-4">
    <div class="card-body">
    	<app-loading *ngIf="loading"></app-loading>

        <alert type="danger" *ngIf="errorMsg" [dismissible]="true" (onClosed)="onClosed()" [dismissOnTimeout]="dismissOnTime">
            <span [innerHtml]="errorMsg"></span>
        </alert>
        <alert type="success" *ngIf="successMsg" [dismissible]="true" (onClosed)="onClosed()" [dismissOnTimeout]="dismissOnTime">
            <span [innerHtml]="successMsg"></span>
        </alert>

        New card
    </div><!-- card-body -->
</div><!-- card -->
